html {
    background-color: beige;
}
h1{
    text-align: center;
}
p{
    text-align: justify;
}
main{
   width: 800px;
   margin: auto;
   padding; 10px 
}
fieldset{
    border: 2px solid black;
    padding: 10px;
    margin-bottom: 20px;
}